[submodule "acomys_library"]
	path = acomys_library
	url = git@github.com:javarhol/acomys_literature_library.git
[submodule "antibody_db"]
	path = antibody_db
	url = git@github.com:javarhol/acomys_antibody_database.git
[submodule "brain_atlas"]
	path = brain_atlas
	url = git@github.com:javarhol/Spiny_Mouse_MRI_Brain_Atlas.git
